<div class="col-md-4">
  <div ng-controller="colorCtrl">
    <div class="color-list">
      <swatch ng-repeat="color in colors"></swatch>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div>
    <div class="blend"></div>
      <div class="blend-controls" ng-controller="modalCtrl" ng-controller="blendCtrl">
        <input type="button" ng-click="blendMode=!blendMode" ng-hide="blendMode" class="btn btn-primary" value="New blend" />
        <input type="button" ng-click="blendMode=!blendMode" ng-show="blendMode" class="btn btn-primary" value="Save blend" />
        <input type="button" ng-click="open('color-blend-cancel-alert')" ng-show="blendMode" class="btn btn-warning" value="Cancel blend" />
      </div>
    </div>
  </div>
</div>

